## RNA-SEQ BULK MASTER PROJECT CONFIGURATION FILE
## Nicholas Owen (n.owen@ucl.ac.uk)
##
###############
#DATA LOCATIONS
###############
project_code=CHANGETHISCODE
project_data_loc=/SAN/biosciences/ioo_no_aw/data/Project/${project_code}
fastq_loc=${project_data_loc}/fastq
fastq_trimmed_loc=${fastq_loc}/trimmed_q6
cluster_scripts_loc=${project_data_loc}/cluster/scripts
cluster_output_loc=${project_data_loc}/cluster/output
bam_star_loc=${project_data_loc}/bam/star
bam_kallisto_loc=${project_data_loc}/bam/kallisto
bam_hisat_loc=${project_data_loc}/bam/hisat2
reports_loc=${project_data_loc}/reports
reports_fastqc=${reports_loc}/fastqc
R_scripts_loc=${project_data_loc}/R
htseq_counts=${project_data_loc}/counts
kallisto_counts=${project_data_loc}/kallisto
salmon_counts=${project_data_loc}/salmon
qualimap_reports=${reports_loc}/qualimap_reports
multiqc_reports=${reports_loc}/multiqc
stringtie_loc=${project_data_loc}/stringtie
ballgown_loc=${project_data_loc}/ballgown
qorts_loc=${project_data_loc}/qorts
majiq_data=${project_data_loc}/majiq
#
#########################
#SAMPLE DESCRIPTION FILES
#########################
sample_names=${project_data_loc}/${project_code}_samples.tab
sample_support=${project_data_loc}/${project_code}_support.tab
sample_fastq_raw=${project_data_loc}/${project_code}_fastq_raw.tab
sample_trimmed_support=${project_data_loc}/${project_code}_support_trimmed.tab
sample_stranded=FALSE
sample_paired=FALSE
sample_strandtype='--no'
sample_strandedqualimap='strand-specific-reverse'
sample_species='human' # other options include mouse, zebrafish
sample_build='hg38' # other options hg38, hg19, GRCz10
sample_refbuild='102' # reference build number
sample_platform='Illumina'
sample_read_length=150
sample_conditions='Choroideremia vs WT'
sample_tissue='retina'
sample_condition_test='CHM'
sample_condition_ref='WT'
sample_seqkit='SMARTerV4'
