## RNA-SEQ BULK MASTER SERVER CONFIGURATION FILE
## Nicholas Owen (n.owen@ucl.ac.uk)
##
#############################
#STANDARD PROGRAMME LOCATIONS
#############################
bowtie2Folder=/home/smgxnow/bowtie2-2.2.3
cufflinksFolder=/home/smgxnow/cufflinks
cutadaptFolder=/share/apps/python-3.9.5-shared/bin
fastpFolder=/SAN/biosciences/ioo_no_aw/tools/fastp
fastq_screenFolder=/SAN/biosciences/ioo_no_aw/tools/fastq_screen/fastq_screen_v0.11.1
fastqcFolder=/share/apps/genomics/FastQC-0.11.8
featurecountsFolder=/SAN/biosciences/ioo_no_aw/tools/subread/subread-2.0.0-Linux-x86_64/bin
gatkFolder=/SAN/biosciences/ioo_no_aw/tools/gatk4/gatk-4.2.2.0
gcloudFolder=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/RecalbrationFiles/ll/google-cloud-sdk/bin
gffcompareFolder=/SAN/biosciences/ioo_no_aw/tools/gffcompare/gffcompare
hisat2Folder=/SAN/biosciences/ioo_no_aw/tools/hisat2/hisat2-2.1.0
htseqFolder=/SAN/biosciences/ioo_no_aw/tools/ht-seq/HTSeq-0.6.1/build/scripts-2.7
javaFolder=/share/apps/jdk1.8.0_131/bin
kallistoFolder=/SAN/biosciences/ioo_no_aw/tools/kallisto/kallisto_linux-v0.43.1
majiqFolder=/share/apps/python-3.8.5-shared/bin
multiqcFolder=/share/apps/python-3.9.5-shared/bin
picardFolder=/home/smgxnow/picard/dist
python2Folder=/share/apps/python-2.7.8/bin
pythonFolder=/share/apps/python-3.9.5-shared/bin
pythonLibFolder=/share/apps/python-3.9.5-shared/lib
qortsFolder=/SAN/biosciences/ioo_no_aw/tools/qorts/hartleys-QoRTs-099881f
qualimapFolder=/SAN/biosciences/ioo_no_aw/tools/qualimap/qualimap_v2.2.1
RFolder=/share/apps/R-3.5.2/bin
RlibFolder=/SAN/biosciences/ioo_no_aw/tools/R/lib
rMATSFolder=/SAN/biosciences/ioo_no_aw/tools/rmats/rMATS.4.0.2/rMATS-turbo-Linux-UCS2
salmonFolder=/SAN/biosciences/ioo_no_aw/tools/salmon/salmon-latest_linux_x86_64/bin
samtoolsFolder=/share/apps/genomics/samtools-1.9/bin
scratchLoc=/scratch0/smgxnow
starFolder=/SAN/biosciences/ioo_no_aw/tools/STAR/STAR-2.7.7a/bin/Linux_x86_64_static
stringtieFolder=/SAN/biosciences/ioo_no_aw/tools/stringtie/stringtie-1.3.5.Linux_x86_64
tophatbin=/home/smgxnow/tophat2.0.12/tophat2
trimgaloreFolder=/SAN/biosciences/ioo_no_aw/tools/trimgalore/TrimGalore-0.6.6
#
############################
#STANDARD REFERENCE DATASETS
############################
referenceMasterFolder=SAN/biosciences/ioo_no_aw/ref_genome
#ZF
ZF_Ensembl_GTF_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/Danio_rerio.GRCz10.89.gtf
ZF_Ensembl_GTF_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/Danio_rerio.GRCz10.89.gtf.fa
ZF_Ensembl_GTF_version=GRCz10.89
ZF_Ensembl_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/Danio_rerio.GRCz10.dna.toplevel.fa.gz
ZF_Ensembl_FA_version=GRCz10
#
#//TODO #1
##ZF11.95
#ZF11_Ensembl_GTF_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11/Danio_rerio.GRCz11.95.gtf
#ZF11_Ensembl_GTF_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11/Danio_rerio.GRCz11.95.gtf.fa
#ZF11_Ensembl_GTF_version=GRCz11.95
#ZF11_Ensembl_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11/Danio_rerio.GRCz11.dna.toplevel.fa.gz
#ZF11_Ensembl_FA_version=GRCz11
#
#ZFN11.102
ZF11_Ensembl_GTF_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11.102/Danio_rerio.GRCz11.102.gtf
ZF11_Ensembl_GTF_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11.102/ #TODO
ZF11_Ensembl_GTF_version=GRCz11.102
ZF11_Ensembl_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11.102/Danio_rerio.GRCz11.dna.primary_assembly.fa.gz
ZF11_Ensembl_FA_version=GRCz11
#
#HG38_ENSEMBL
hg38_Ensembl_GTF_loc=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/Homo_sapiens.GRCh38.102.gtf
hg38_Ensembl_GFF_loc=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/Homo_sapiens.GRCh38.102.gff3 
hg38_Ensembl_GTF_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/ //TODO #2
hg38_Ensembl_GTF_version=GRCh38.102
hg38_Ensembl_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz
hg38_Ensembl_FAuncomp_loc=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/Homo_sapiens.GRCh38.dna.primary_assembly.fa
hg38_Ensembl_FA_tx=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/Homo_sapiens.GRCh38.cdna.all.fa.gz
hg38_Ensembl_FA_version=GRCh38
#
#GRCg6a_ENSEMBL
gg6a_Ensembl_GTF_loc=/SAN/biosciences/ioo_no_aw/ref_genome/gallus/GRCg6a.102/Gallus_gallus.GRCg6a.102.gtf
gg6a_Ensembl_GTF_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/gallus/GRCg6a.102/ //TODO #3
gg6a_Ensembl_GTF_version=GRCg6a.102
gg6a_Ensembl_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/gallus/GRCg6a.102/Gallus_gallus.GRCg6a.dna.toplevel.fa.gz
gg6a_Ensembl_FA_tx=/SAN/biosciences/ioo_no_aw/ref_genome/gallus/GRCg6a.102/Gallus_gallus.GRCg6a.cdna.all.fa.gz
gg6a_Ensembl_FA_version=GRCg6a
#
#HTS CONTAMINANTS INDEX
contaminants_bowtie2_index=/SAN/biosciences/ioo_no_aw/ref_genome/contaminants/Bowtie2Index/contaminants
#
#NCBI-EBI
hg37_ebi_GTF_loc=/SAN/biosciences/ioo_no_aw/ref_genome/ncbi37_ebi/gencode.v19.annotation.gtf
#
#GRCm38_ENSEMBL
m38_Ensembl_GTF_loc=/SAN/biosciences/ioo_no_aw/ref_genome/mouse/GRCm38.102/Mus_musculus.GRCm38.102.gtf
m38_Ensembl_GTF_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/mouse/GRCm38.102/ //TODO #4
m38_Ensembl_GTF_version=GRCm38.102
m38_Ensembl_FA_loc=/SAN/biosciences/ioo_no_aw/ref_genome/mouse/GRCm38.102/Mus_musculus.GRCm38.dna.primary_assembly.fa.gz
m38_Ensembl_FA_tx=/SAN/biosciences/ioo_no_aw/ref_genome/mouse/GRCm38.102/Mus_musculus.GRCm38.cdna.all.fa.gz
m38_Ensembl_FA_version=GRCm38
#
#
#########################
#BASE RECALIBRATION FILES
#########################
#
hg38_recal_1000G=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/RecalbrationFiles/1000G_phase1.snps.high_confidence.hg38.vcf.en.sorted.gz
hg38_recal_MILLS=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/RecalbrationFiles/Mills_and_1000G_gold_standard.indels.hg38.vcf.en.sorted.gz
hg38_recal_dbSNP=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/RecalbrationFiles/Homo_sapiens_assembly38.dbsnp138.vcf.en.sorted.gz
#
#########################
#STANDARD PROGRAM INDEXES
#########################
#ZF
ZF_Ensembl_kallisto_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/KallistoIndex/GRCz10_transcripts.idx
ZF_Ensembl_bowtie2_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/Bowtie2Index/Danio_rerio.GRCz10.dna.toplevel
ZF_Ensembl_rRNA_bowtie2_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/Bowtie2Index-rRNA/Bowtie2Index-rRNA
ZF_Ensembl_tRNA_bowtie2_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/Bowtie2Index-tRNA/Bowtie2Index-tRNA
ZF_Ensembl_star_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/STARIndex_full
ZF_Ensembl_hisat2_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/hisat2Index/D_rerio.GRCz10.
ZF_Ensembl_hisat2_splicesites_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/hisat2Index/hisat2_splicesites.tsv
ZF_Ensembl_hisat2_exons_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/hisat2Index/hisat2_exons.tsv
#
#ZF11.95 /todo #5
#ZF11_Ensembl_kallisto_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11/KALLISTOIndex/D.rerio.GRCz11.all.idx
#ZF11_Ensembl_bowtie2_index_loc=
#ZF11_Ensembl_rRNA_bowtie2_index_loc=
#ZF11_Ensembl_tRNA_bowtie2_index_loc=
#ZF11_Ensembl_star_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz10_June2017/STARIndex_full
#ZF11_Ensembl_hisat2_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11/HISAT2Index/D_rerio.GRCz11
#ZF11_Ensembl_hisat2_splicesites_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11/HISAT2Index/hisat2_splicesites.tsv
#ZF11_Ensembl_hisat2_exons_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11/HISAT2Index/hisat2_exons.tsv
#
#ZF11.102
ZF11_Ensembl_kallisto_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11/KALLISTOIndex/ #TODO
ZF11_Ensembl_bowtie2_index_loc=
ZF11_Ensembl_rRNA_bowtie2_index_loc=
ZF11_Ensembl_tRNA_bowtie2_index_loc=
ZF11_Ensembl_star_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11.102/STARIndex
ZF11_Ensembl_hisat2_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11.102/HISAT2Index/D_rerio.GRCz11.102
ZF11_Ensembl_hisat2_splicesites_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11.102/HISAT2Index/hisat2_splicesites.tsv
ZF11_Ensembl_hisat2_exons_loc=/SAN/biosciences/ioo_no_aw/ref_genome/danio/GRCz11.102/HISAT2Index/hisat2_exons.tsv
#
#GRCh38_ENSEMBL
hg38_Ensembl_hisat2_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/HISAT2Index/Hsapien.GRCh38.102
hg38_Ensembl_hisat2_splicesites_loc=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/HISAT2Index/hisat2_splicesites.tsv
hg38_Ensembl_hisat2_exons_loc=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/HISAT2Index/hisat2_exons.tsv
hg38_Ensembl_star_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/STARIndex
hg38_Ensembl_salmon_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/hg38/GRCh38.102/SALMONIndex
#
#GRCm38_ENSEMBL
m38_Ensembl_hisat2_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/mouse/GRCm38.102/HISAT2Index/Mmusculus.GRCm38.102
m38_Ensembl_hisat2_splicesites_loc=/SAN/biosciences/ioo_no_aw/ref_genome/mouse/GRCm38.102/HISAT2Index/hisat2_splicesites.tsv
m38_Ensembl_hisat2_exons_loc=/SAN/biosciences/ioo_no_aw/ref_genome/mouse/GRCm38.102/HISAT2Index/hisat2_exons.tsv
m38_Ensembl_star_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/mouse/GRCm38.102/STARIndex
m38_Ensembl_salmon_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/mouse/GRCm38.102/SALMONIndex
#
#GRCg6a_ENSEMBL
gg6a_Ensembl_hisat2_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/gallus/GRCg6a.102/HISAT2Index/Ggallus.GRCg6a.102
gg6a_Ensembl_hisat2_splicesites_loc=/SAN/biosciences/ioo_no_aw/ref_genome/gallus/GRCg6a.102/HISAT2Index/hisat2_splicesites.tsv
gg6a_Ensembl_hisat2_exons_loc=/SAN/biosciences/ioo_no_aw/ref_genome/gallus/GRCg6a.102/HISAT2Index/hisat2_exons.tsv
gg6a_Ensembl_star_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/gallus/GRCg6a.102/STARIndex
gg6a_Ensembl_salmon_index_loc=/SAN/biosciences/ioo_no_aw/ref_genome/gallus/GRCg6a.102/SALMONIndex
#
#########################
#STANDARD PROJECT SCRIPTS
#########################
bam_process_script=make_bam_process_scripts.sh
bam_process_template=bam_process_.sh
fastqc_agregate=FASTQC_aggregate.sh
fastqc_script_header=fastqc_script_header.sh
fastqc_scripts_prepare=fastqc_scripts_prepare.sh
htseq_count_keepdups_script=htseq_counts_keepdups_script_prepare_v2.sh
htseq_count_script=htseq_counts_script_prepare.sh
prepare_project=prepare_project.sh
qsub_multiple=qsub_multiple.sh
qualimap_bam_rnaseq_script=qualimap_BAM_RNAseq_script_prepare.sh
